<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32034">
		<setting id="redirectVolumeControls" type="bool" label="32017" default="false"/>
		<setting id="checksPerSecond" label="32045" type="slider" default="20" range="1,1,50" option="int"/>
	</category>
</settings>
